force-app/main/default/flows/Broadcast_Shipment2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Customer</name>
        <label>Notify Customer</label>
        <locationX>772</locationX>
        <locationY>1214</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Contact.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>studentjoshua00@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XgL00000NkzKzUAJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Notify_Logistics</name>
        <label>Notify Logistics</label>
        <locationX>772</locationX>
        <locationY>1430</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_Chatter_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>LogisticsChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Shipment_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Summary</name>
        <label>Update Summary</label>
        <locationX>860</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Qty: {!For_each_Shipment_Line_Item.Quantity__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>--------------------</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_Shipment_Line_Item.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!For_each_Shipment_Line_Item.Name}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frmNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Shipment_Line_Item</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Get_Contact_Found</name>
        <label>Get Contact Found?</label>
        <locationX>915</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>For_each_Shipment_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_PContact_Found</targetReference>
            </connector>
            <label>No Contact Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmNewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>frmPrimaryContactNameText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Contact.Salutation}) &amp; &quot; &quot; &amp; {!Get_Contact.FirstName} &amp; &quot; &quot; &amp; {!Get_Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>frmShippingAddressText</name>
        <dataType>String</dataType>
        <expression>{!Get_Shipment_Record.Opportunity__r.Account.BillingStreet} &amp; BR() &amp;
{!Get_Shipment_Record.Opportunity__r.Account.BillingCity} &amp; &quot;, &quot; &amp; 
{!Get_Shipment_Record.Opportunity__r.Account.BillingState} &amp; &quot; &quot; &amp; 
{!Get_Shipment_Record.Opportunity__r.Account.BillingPostalCode} &amp; BR() &amp;
{!Get_Shipment_Record.Opportunity__r.Account.BillingCountry}</expression>
    </formulas>
    <interviewLabel>Broadcast Shipment2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broadcast Shipment2</label>
    <loops>
        <name>For_each_Shipment_Line_Item</name>
        <label>For each Shipment Line Item</label>
        <locationX>772</locationX>
        <locationY>698</locationY>
        <collectionReference>Get_Shipment_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shipment2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Chatter_Task</name>
        <label>Create Chatter Task</label>
        <locationX>772</locationX>
        <locationY>1538</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LogisticsChatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Chatter - Notified Logistics</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Shipment_Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Task</name>
        <label>Create Email Task</label>
        <locationX>772</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Notify_Logistics</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Shipment_Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>772</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Record.Opportunity__r.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Line_Items</name>
        <label>Get Shipment Line Items</label>
        <locationX>772</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShipmentLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Record</name>
        <label>Get Shipment Record</label>
        <locationX>772</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipment_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment2</name>
        <label>Update Shipment2</label>
        <locationX>772</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Customer_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>frmShippingAddressText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Contact_Name__c</field>
            <value>
                <elementReference>frmPrimaryContactNameText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Items_Summary__c</field>
            <value>
                <elementReference>ShipmentLineItemSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment2__c</object>
    </recordUpdates>
    <screens>
        <name>Customer_Notification</name>
        <label>Customer Notification</label>
        <locationX>772</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notify_Customer</targetReference>
        </connector>
        <fields>
            <name>Text_1</name>
            <fieldText>&lt;p&gt;The following email will be sent to the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Email</elementReference>
            </defaultValue>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailSubjectContent</elementReference>
            </defaultValue>
            <fieldText>Email Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email_Body</name>
            <defaultValue>
                <stringValue>{!EmailBody}</stringValue>
            </defaultValue>
            <fieldText>Email Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_PContact_Found</name>
        <label>No Contact Found</label>
        <locationX>1139</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPrimaryContactfound</name>
            <fieldText>&lt;p&gt;Did not find Contact for this opportunity. Please assign a Primary Contact for this Opportunity and ensure that the contact has a valid email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>646</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Shipment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Shipment_Record.Shipment_Contact_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are pleased to inform you that your shipment is being processed. Below are the details regarding your delivery and the items included.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SHIPMENT SUMMARY&lt;/p&gt;&lt;p&gt;--------------------------------------------------&lt;/p&gt;&lt;p&gt;Account Name: {!Get_Shipment_Record.Opportunity__r.Account.Name}&lt;/p&gt;&lt;p&gt;Shipment Tracking ID: {!Get_Shipment_Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;DELIVERY ADDRESS:&lt;/p&gt;&lt;p&gt;{!Get_Shipment_Record.Delivery_Address__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ITEMS INCLUDED IN THIS SHIPMENT:&lt;/p&gt;&lt;p&gt;{!Get_Shipment_Record.Shipment_Items_Summary__c}&lt;/p&gt;&lt;p&gt;--------------------------------------------------&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions regarding this shipment, please reply to this email or contact your account representative.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your business!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;AQUAFINA Sales Operations&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your order ID: {!Get_Shipment_Record.Id} has been dispatched!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LogisticsChatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!varLogisticsGroupId}]
A new shipment record has been created for {!Get_Shipment_Record.Opportunity__r.Account.Name}.
Recipient: {!frmPrimaryContactNameText}
Shipment Number: {!Get_Shipment_Record.Id}
Delivery Address: 
{!frmShippingAddressText}
Delivery Details:
{!ShipmentLineItemSummary}
Total To Pay: {!Get_Shipment_Record.To_Pay__c} €</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipmentLineItemSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLogisticsGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0F9gL000000NOxhSAG</stringValue>
        </value>
    </variables>
</Flow>
