force-app/main/default/flows/Change_Opportunity_Type_to_New_or_Repeat_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_New_or_Repeat_Business</name>
        <label>Is New or Repeat Business?</label>
        <locationX>500</locationX>
        <locationY>544</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.oppWonCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Type_To_New</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Repeat_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.oppWonCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Type_To_Repeat</targetReference>
            </connector>
            <label>Repeat Business</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Opportunity Type to New or Repeat Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Opportunity Type to New or Repeat Business</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get_Account</label>
        <locationX>507</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_or_Repeat_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Type_To_New</name>
        <label>Update Type To New</label>
        <locationX>342</locationX>
        <locationY>700</locationY>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Type_To_Repeat</name>
        <label>Update Type To Repeat</label>
        <locationX>631</locationX>
        <locationY>676</locationY>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Repeat Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>380</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
