force-app/main/default/flows/Create_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Shipment_Line_Item_to_col</name>
        <label>Add Shipment Line Item to col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colvarShipmentLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varShipmentLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Line_Item_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Line_Item_Summary</name>
        <label>Add to Line Item Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[Qty: {!Foreach_Quote_Line_Item.Quantity}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>--------------------</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Foreach_Quote_Line_Item.Product_Name_Display__c}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipmentLineItemSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frmNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_QuoteLineItem</name>
        <label>Clone QuoteLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varShipmentLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Quote_Line_Item.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipmentLine.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Quote_Line_Item.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipmentLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_Quote_Line_Item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipmentLine.Shipment2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipment2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Shipment_Line_Item_to_col</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Quote_Empty</name>
        <label>Is Quote Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Quote_Synced_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quotes_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quotes</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Quotes Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmNewLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>frmPrimaryContactNameText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Contact.Contact.Salutation}) &amp; &quot; &quot; &amp; {!Get_Contact.Contact.FirstName} &amp; &quot; &quot; &amp; {!Get_Contact.Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>frmShippingAddressText</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Account.BillingStreet} &amp; BR() &amp;
{!Get_Opportunity.Account.BillingCity} &amp; &quot;, &quot; &amp; 
{!Get_Opportunity.Account.BillingState} &amp; &quot; &quot; &amp; 
{!Get_Opportunity.Account.BillingPostalCode} &amp; BR() &amp;
{!Get_Opportunity.Account.BillingCountry}</expression>
    </formulas>
    <interviewLabel>Create Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Shipment</label>
    <loops>
        <name>Foreach_Quote_Line_Item</name>
        <label>Foreach Quote Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_QuoteLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Line_Summary_to_Shipment2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shipment2</name>
        <label>Create Shipment2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>Shipment2Id</assignRecordIdToReference>
        <connector>
            <targetReference>Foreach_Quote_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>frmShippingAddressText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Quotes.Name} Shipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Contact_Name__c</field>
            <value>
                <elementReference>frmPrimaryContactNameText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Pay__c</field>
            <value>
                <elementReference>Get_Quotes.Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment2__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment_Line_Items</name>
        <label>Create Shipment Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Broadcast_Shipment2</targetReference>
        </connector>
        <inputReference>colvarShipmentLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Shipment2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LI_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quotes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Line_Summary_to_Shipment2</name>
        <label>Add Line Summary to Shipment2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Shipment_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shipment2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Address__c</field>
            <value>
                <elementReference>frmShippingAddressText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Items_Summary__c</field>
            <value>
                <elementReference>ShipmentLineItemSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment2__c</object>
    </recordUpdates>
    <screens>
        <name>LI_Screen</name>
        <label>Create Shipment Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Display_Quote</name>
            <fieldText>&lt;p&gt;The following Items will be added to the shipment:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtQuoteItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Line Items to be added to Shipment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Quote_Line_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;QuoteLineItem&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Quote_Line_Items&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Display__c&quot;,&quot;guid&quot;:&quot;column-93b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Product Name (Display)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-1633&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;QuoteLineItem&quot;,&quot;fieldReferences&quot;:[&quot;Product_Name_Display__c&quot;,&quot;Quantity&quot;],&quot;elementReference&quot;:&quot;Get_Quote_Line_Items&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Quote_Synced_Screen</name>
        <label>No Quote Synced</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Quote_Synced_Text</name>
            <fieldText>&lt;p&gt;To create a shipment, this opportunity must:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Have a synced Quote.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The synced Quote:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Must be approved.&lt;/li&gt;&lt;li&gt;Must be in the Accepted Stage&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quotes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Broadcast_Shipment2</name>
        <label>Broadcast Shipment2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Broadcast_Shipment2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Shipment2Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>LogisticsChatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!varLogisticsGroupId}]
A new shipment record has been created for {!Get_Contact.Contact.Account.Name}.
Recipient: {!frmPrimaryContactNameText}
Shipment Number: {!Shipment2Id}
Delivery Address: 
{!frmShippingAddressText}
Delivery Details:
{!ShipmentLineItemSummary}

Total To Pay: {!Get_Quotes.Total_Amount__c} €</text>
    </textTemplates>
    <variables>
        <name>colvarShipmentLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShipmentLineItem__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shipment2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipmentLineItemSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLogisticsGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0F9gL000000NOxhSAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>varShipmentLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShipmentLineItem__c</objectType>
    </variables>
</Flow>
