force-app/main/default/flows/Discount_Approval_Automation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Quote_for_Discount_Approval</name>
        <label>Submit Quote for Discount Approval</label>
        <locationX>594</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Discount_beyond_threshold</name>
        <label>Is Discount beyond threshold?</label>
        <locationX>772</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Auto_approve_discount_less_than_threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_exceeds_20_threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Approval_when_Discount_changes</targetReference>
            </connector>
            <label>Discount exceeds 10% threshold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Discount Approval Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discount Approval Automation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Auto_approve_discount_less_than_threshold</name>
        <label>Auto approve discount less than threshold</label>
        <locationX>904</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Approval_when_Discount_changes</name>
        <label>Reset Approval when Discount changes</label>
        <locationX>500</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Submit_Quote_for_Discount_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>646</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Discount_beyond_threshold</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Discount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subtotal</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LineItemCount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
