force-app/main/default/flows/Log_Customer_Response_and_Set_Stage_to_Negotiation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Closed_Lost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Won</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_Hold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed_to_Closed_Won</name>
        <choiceText>Proceed to Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed to Close</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revise_Quote</name>
        <choiceText>Revise Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revise Quote</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>What_is_Current_Stage</name>
        <label>What is Current Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Revise_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agreed_Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Revise_Quote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Negotiation</targetReference>
            </connector>
            <label>Stage is Revise Quote</label>
        </rules>
        <rules>
            <name>Stage_is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agreed_Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed_Won</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Closed_Won</targetReference>
            </connector>
            <label>Stage is Closed Won</label>
        </rules>
        <rules>
            <name>Stage_is_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agreed_Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Set_Stage_to_Closed_Lost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Closed_Lost</targetReference>
            </connector>
            <label>Stage is Closed Lost</label>
        </rules>
        <rules>
            <name>Stage_is_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agreed_Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>On_Hold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_to_Negotiation</targetReference>
            </connector>
            <label>Stage is On Hold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Log Customer Response and Set Stage to Negotiation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Customer Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Stage</name>
        <label>Get Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_Current_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Customer_Responded_to_True</name>
        <label>Set Customer Responded to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreed_Next_Step__c</field>
            <value>
                <elementReference>Agreed_Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Responded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Sent_Via_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Ready_for_Delivery_to_True</name>
        <label>Set Ready for Delivery to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Stage.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_for_Delivery__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_to_Closed_Lost</name>
        <label>Set Stage to Closed Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_to_Closed_Won</name>
        <label>Set Stage to Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Ready_for_Delivery_to_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stage_to_Negotiation</name>
        <label>Set Stage to Negotiation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Log_Customer_Response</name>
        <label>Log Customer Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <fields>
            <name>Customer_Requested_Discount</name>
            <dataType>Number</dataType>
            <fieldText>Customer Requested Discount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Notes</name>
            <fieldText>Customer Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agreed_Next_Step</name>
            <choiceReferences>Revise_Quote</choiceReferences>
            <choiceReferences>Closed_Won</choiceReferences>
            <choiceReferences>Closed_Lost</choiceReferences>
            <choiceReferences>On_Hold</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NoResponse</elementReference>
            </defaultValue>
            <fieldText>Agreed Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_of_Customer_Response</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_Today</elementReference>
            </defaultValue>
            <fieldText>Date of Customer Response</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Customer_Responded_to_True</targetReference>
        </connector>
        <fields>
            <name>Success_Negotiation</name>
            <fieldText>&lt;p&gt;Customer response logged and opportunity moved to Negotiation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Customer_Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NoResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Response</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
