force-app/main/default/flows/Opportunity_Already_Has_A_Deal_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_One_If_Find_Deal</name>
        <label>Add One If Find Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dealCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_Of_Deals</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Deal_Exists_Error</name>
        <label>Deal Exists Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>A deal with the associated opportunity already exists</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Opportunity_Deal_Already_Exists</name>
        <label>Opportunity Deal Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dealCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Exists_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>addOne</name>
        <dataType>Number</dataType>
        <expression>{!dealCounter}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity Already Has A Deal Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Already Has A Deal Summary</label>
    <loops>
        <description>Loops through Deal Records with associated Opportunity ID. If more than 1, then dont make deal.</description>
        <name>Count_Number_Of_Deals</name>
        <label>Count Number Of Deals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Deal_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_One_If_Find_Deal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Deal_Already_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deal_Record</name>
        <label>Get Deal Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_Of_Deals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>Deal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Deal_Record</targetReference>
        </connector>
        <object>Deal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>counts if there are more than 1 deal in database</description>
        <name>dealCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
